
<h2>This is the Sewer Page</h2>
<button ng-click="pdf.backToSelectFile()">Go Back</button>
<button ng-click="pdf.savePdf()">Make PDF</button>
<button ng-click="dp.saveData()">Save Data</button>


<div id="SewerPdfDiv" class="pdfDiv">
    <img class="waterLogo" src="../../img/Water logo.png" alt="">
    <h3 class="scada">SCADA</h3>
    <h3>{{dp.selectedSystem.name}} - {{dp.selectedSystem.address}}</h3>
    <div class="blueRibbin"><h3>Sewage Monthly Report - {{pdf.currentPumpData.date}} </h3></div>
    
    <canvas id="startschart"></canvas>
    <canvas id="totalrunchart"></canvas>
    <canvas id="avrgrunchart"></canvas>


    <table>
        <tr>
            <th></th>
            <th class="p1">Pump 1</th>
            <th class="p2">Pump 2</th>
        </tr>
        <tr>
            <td>Lag Fault</td>
            <td>{{pdf.currentPumpData["Pump 1 Lag Fault"]}}</td>
            <td>{{pdf.currentPumpData["Pump 2 Lag Fault"]}}</td>
        </tr>
        <tr>
            <td>Failed to Start</td>
            <td>{{pdf.currentPumpData["Pump 1 Failed to Start"]}}</td>
            <td>{{pdf.currentPumpData["Pump 2 Failed to Start"]}}</td>
        </tr>
    </table>

    <table class="sewer-highAlrm">
        <tr>
            <td> <strong>High Alarm</strong> </td>
            <td>{{pdf.currentPumpData["High Level Alarm"]}}</td>
        </tr>
    </table>

    <p class="thanku">Thank you for being a US Pump Corp customer!</p>
    <p>US Pump Corp </p>
</div>
